.content {
  //background-color: yellow;
  float: right;
  width: 88%;
  text-align: center;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.summary {
  //background-color: #acb3bf;
  border-bottom: 3px solid black;
}

.name {
  font-size: 50px;
  line-height: 2;
  padding-top: 100px;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.bio {
  font-size: 20px;
  line-height: 1.25;
  padding-left: 100px;
  padding-right: 100px;
}

.categories {
  font-size: 20px;
  line-height: 2;
  padding-bottom: 100px;
  padding-top: 20px;
}

.additional-info {
  //background-color: green;
  padding-top: 200px;
  padding-bottom: 200px;
  //border-bottom: 3px solid black;
}

.email {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 80px;
}

.phone-number {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 80px;
}

.address {
  font-size: 20px;
  line-height: 1.5;
}

.edit-buttons {
  //background-color: red;
  //padding-top: 250px;

}

.edit-email {
  color: white;
  background-color: #5271ff;
  font-size: 20px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
  margin: 25px;
}

.edit-password {
  color: white;
  background-color: #5271ff;
  font-size: 20px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
  margin: 25px;
}


/*.profile-main-panel {
  float: right;
  width: 85%;
  //background-color: red;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 60px;
  text-align: center;
}

.profile-header-main {
  //background-color: green;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 30px;
  line-height: 2;
}

.username {
  //background-color: orange;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 25px;
  line-height: 2;
}

.user-information {
  //background-color: yellow;
  display: grid;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 20px;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 80px;
}

.user-information-row {
  //background-color: yellow;
  //text-align: center;
  float: center;
}

.row-left {
  float: left;
  padding: 20px;
}

.row-center {
  float: left;
  padding: 20px;
}

.edit-button-div {
  float: left;
  padding: 20px;
}

.change-password-div {
  //background-color: blue;
}

.profile-button {
  color: white;
  background-color: #5271ff;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.password-button {
  color: white;
  background-color: #5271ff;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
}*/
