.ind-content-booking {
  //display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  background-color: #E8E9ED;
  border-radius: 20px;
  display: grid;
  grid-template: 10vh / 20vw 10vw 10vw 10vw 10vw 10vw 15vw ;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 15px;
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ind-content-booking > div {
  margin-right: 5%;
  margin-left: 5%;
}

.ind-book-button-booking {
  color: black;
  background-color: white;
  font-size: 18px;
  border-radius: 12px;
  margin: 15px;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: "HelveticaNeue-Light", sans-serif;
  border: 1px solid white;
  width: 150px;
  font-weight: 600;
}

.ind-title-booking {
  font-weight: 600;
  font-size: 20px;
}

.ind-meeting-booking-heading {
  display: none;
}

@keyframes slideInTop {
  from {
    transform: translate3d(0, 30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1500px) {

  .ind-content-booking {
    //background-color: pink;
    display: block;
    width: auto;
    height: auto;
    padding: 20px;
  }
  .ind-content-booking > div {
    padding-top: 10px;
  }

  .ind-meeting-booking-heading {
    display: inline;
    font-weight: 600;
  }
}


/*.bookings-it-button {
  color: white;
  background-color: #5271ff;
  font-size: 20px;
  padding: 6px 16px;
  border-radius: 20px;
  width: 150px;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.booking-main-content {
  text-align: left;
  border-bottom: 2px solid black;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 1%;
  display: flex;
}


.book-it {
  //float: right;
  //background-color: red;
}

.right{
  //background-color: blue;
  //float: right;
}

.left {
  //float: left;
  //background-color: green;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.side {
  flex:1;
}*/
