.influencer-touchbases-content {
  text-align: center;
  font-family: "HelveticaNeue-Light", sans-serif;
  //background-color: blue;
  margin-left: 200px;
  //width: 1000px;
}

.influencer-left-side-info {
  z-index: 1;
  top: 0;
  background: #2f323a;
  //margin-top: 70px;
  padding-top: 80px;
  position: fixed;
  left: 0;
  width: 220px;
  //width: 10%;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  color: white;
  //margin-top: 80px;
}

.seller-categories {
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.seller-name {
  font-size: 30px;
  line-height: 1.5;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.seller-handles {
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
}

.seller-bio {
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.your-touchbases-grid-content-influencer {
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.your-touchbases-one-on-one-influencer {
  //background-color: yellow;
  display: grid;
  grid-template-columns: 100px 90%;
  margin-left: 70px;
  margin-right: 70px;
  //border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  //padding-bottom: 1vh;
  //border-bottom: 2px solid black;
}

.your-touchbases-class-influencer {
  //background-color: yellow;
  display: grid;
  grid-template-columns: 100px 90%;
  margin-left: 70px;
  margin-right: 70px;
  //border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  //padding-bottom: 1vh;
  //border-bottom: 2px solid black;
}

.your-touchbases-breakout-influencer {
  display: grid;
  grid-template-columns: 100px 90%;
  margin-left: 70px;
  margin-right: 70px;
  //border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  //padding-bottom: 1vh;
  //border-bottom: 2px solid black;
}

.ind-one-on-one-influencer {
  //grid-column-start: 2;
  //background-color: blue;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 20px;
}

.ind-class-influencer {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 20px;
}

.ind-breakout-influencer {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 20px;
}

.one-on-one-heading-influencer {
  grid-column-start: 1;
  background-color: #4c98ed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

.class-heading-influencer {
  grid-column-start: 1;
  background-color: #ef7d7d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

.breakout-heading-influencer {
  grid-column-start: 1;
  background-color: #f4b959;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 1450px) {
  .your-touchbases-one-on-one-influencer {
    //background-color: yellow;
  }

  .ind-one-on-one-influencer {
    //grid-column-start: 2;
    //background-color: blue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 20px;
  }

  .ind-class-influencer {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 20px;
  }

  .ind-breakout-influencer {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 20px;
  }

}

@media screen and (max-width: 800px) {
  .your-touchbases-one-on-one-influencer {
    //background-color: blue;
  }

  .your-touchbases-one-on-one-influencer {
    display: block;
    margin-left: 0px;
  }

  .your-touchbases-class-influencer {
    display: block;
    margin-left: 10px;
  }

  .your-touchbases-breakout-influencer {
    display: block;
    margin-left: 10px;
  }

  .influencer-left-side-info {
    width: 150px;
  }

  .ind-one-on-one-influencer {
    margin-left: 0px;
  }

  .ind-class-influencer {
    margin-left: 0px;
  }

  .ind-breakout-influencer {
    margin-left: 0px;
  }
}
