body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #5271ff;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  //margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  width: 10%;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: yellow;
  //width: 20%;
}

.sidebar .profile_info .profile_image{
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  //background-color: red;
}

.sidebar > div {
  padding-left: 10px;
}

.sidebar a:hover{
  background: #5271ff;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;

  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.dropdown:hover {
  background-color: #5271ff;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.menu-icon-class {
  width: 30px;
  height: auto;
  background-color: #2f323a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu-icon {
  //position: relative;
  display: inline-block;
  color: #fff;
  display: block;
  //width: 100%;
  //line-height: 60px;
  text-decoration: none;
  padding-right: 30px;
  padding-top: 25px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  background-color: #222222;
}

.dropdown-menu-icon:hover {
  //background-color: #5271ff;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-menu-icon {
  display: none;
  position: absolute;
  right: 30px;
  top: 70px;
  background-color: #f1f1f1;
  //background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content-menu-icon a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-menu-icon a:hover {
  background-color: #5271ff;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown-menu-icon:hover .dropdown-content-menu-icon {display: block;}

/* Responsive CSS */

@media screen and (max-width: 1100px) {
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: flex;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: inherit;
    //margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    //background-color: purple;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    //background: #2F323A;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }

  .dropdown-mobile {
    position: relative;
    display: inline-block;
    color: black;
    display: block;
    line-height: 60px;
    text-decoration: none;
    padding-left: 15px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .dropdown-mobile:hover {
    background-color: #5271ff;
    color: white;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-mobile {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content-mobile a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Show the dropdown menu on hover */
  .dropdown-mobile:hover .dropdown-content-mobile {display: block;}
}
