.landingPage {
  //background-color: orange;
}

/*.landingPage-header {
  background-color: white;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
}*/

.nav {
  background-color: #5271ff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "HelveticaNeue-Medium";
  color: white;
  font-size: 70px;
  color: white;
  text-align: center;
  line-height: 1;
}

.nav1 {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  width: 50%;
  height: auto;
}

.sign-in-button  {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
  border: 1px solid white;
}

.content-panel-one {
  padding-top: 70px;
  padding-bottom: 70px;
  //background-color: yellow;
  width: 100%;
  height: 100%;
}

.content-panel-one-responsive {
  //background-color: red;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content-panel-one-text {
  float: left;
  width: 50%;
  align-items: center;
  font-family: "HelveticaNeue-Light", sans-serif;
  //background-color: purple;
}

.why-touchbase {
  color: #5271ff;
  font-size: 20px;
  padding-bottom: 10px;
}

.why-touchbase-header {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 10px;
}

.why-touchbase-answer {
  font-size: 20px;
}

.content-panel-one-image {
  float: right;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: blue;
}

.img1 {
  width: 100%;
  height: auto;
}

.content-panel-two {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;

}

.content-panel-two-responsive {
  //background-color: red;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content-panel-two-text {
  float: right;
  width: 50%;
  align-items: center;
  font-family:"HelveticaNeue-Light", sans-serif;
  //background-color: purple;
}

.content-panel-two-image {
  float: left;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: blue;
}

.types-of-touchbases {
  color: #5271ff;
  font-size: 20px;
  padding-bottom: 10px;
}

.types-of-touchbases-header {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 10px;
}

.types-of-touchbases-answers {
  font-size: 20px;
}

.img2 {
  width: 100%;
  height: auto;
}

.divider {
  padding-top: 550px;
  align-content: center;
  text-align: center;
  font-family: "HelveticaNeue-Light";
  font-size: 30px;
  padding-bottom: 100px;
  //background-color: gray;
}

.content-panel-three {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #E8E9ED;
  width: 100%;
  height: 100%;
}

.content-panel-three-image {
  float: right;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: blue;
}

.content-panel-three-text {
  float: left;
  width: 50%;
  align-items: center;
  font-family:"HelveticaNeue-Light", sans-serif;
  //background-color: purple;
}

.img3 {
  width: 50%;
  height: auto;
}

.content-panel-three-responsive {
  //background-color: red;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.all-categories {
  color: #5271ff;
  font-size: 20px;
  padding-bottom: 10px;
}

.all-categories-header {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 10px;
}

.all-categories-answer {
  font-size: 20px;
}

.content-panel-four {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #E8E9ED;
  width: 100%;
  height: 100%;
}

.content-panel-four-responsive {
  //background-color: red;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  //align-items: center;
  //justify-content: center;
  //flex-direction: row;
}

.how-it-works{
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 30px;
  color: black;
  //font-weight: bold;
  text-align: center;
}

.block-one {
  float: left;
  width: 33.33%;
  height: 33.33%;
  display: table-row;
  align-items: center;
  justify-content: center;
  //background-color: blue;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-one-text {
  font-size: 20px;
  font-family:"HelveticaNeue-Light", sans-serif;
  line-height: 1.25;
}

.block-three {
  float: right;
  width: 33.33%;
  height: 33.33%;
  display: table-row;
  align-items: center;
  justify-content: center;
  //background-color: purple;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-two-text {
  font-size: 20px;
  font-family:"HelveticaNeue-Light", sans-serif;
  line-height: 1.25;
}

.block-two {
  float: left;
  width: 33.33%;
  height: 33.33%;
  display: table-row;
  align-items: center;
  justify-content: center;
  //background-color: white;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-three-text {
  font-size: 20px;
  font-family:"HelveticaNeue-Light", sans-serif;
  line-height: 1.25;
}

.number_one {
  width: 15%;
  height: 15%;
}

.number_two {
  width: 15%;
  height: 15%;
}

.number_three {
  width: 15%;
  height: 15%;
}

.footer {
  padding-top: 550px;
  //background-color: purple;
}

.footer2 {
  background-color: gray;
  //padding-bottom: 300px;
  color: white;
  font-family: "Arial";
  font-size: 20px;
  height: 100px;
}
