.landingPage {
  //background-color: purple;
}

.landing-page-header {
  background-color: #5271ff;
  //display: grid;
  height: 860px;
  margin-bottom: 100px;
}

.typewrite {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  //background-color: purple;
  height: auto;
}

.typewrite:hover {
  color: white;
}

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  justify-content: flex-start;
  //background-color: red;
  line-height: 1.5;
  color: white;
}

/*.landing-page-graphic {
  height: auto;
  width: 45%;
}*/

.nav-button {
  text-align: center;
  margin-top: 20px;
}

.go-to-explore-button  {
  background-color: #9cc0e4;
  color: black;
  font-size: 20px;
  //font-weight: 540;
  padding: 10px 20px;
  //border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
  border: 1px solid #9cc0e4;
  width: 200px;
  //grid-column-start: 1;
}

.nav-right-side {
  text-align: center;
  margin-top: 20px;
}

.landing-page-featured-list {
  //background-color: yellow;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.landing-page-featured-list .heading {
  //background-color: yellow;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 50px;
  line-height: 2;
  font-weight: 500;
}

.pro-link-landing-page {
  font-size: 15px;
  padding: 10px;
  color: #5271ff;
}

.pro-link-landing-page:hover {
  color: black;
}

.landing-page-featured-list .featured-list {
  //background-color: blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: auto;
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.list-item .pro-category {
  padding: 0px 10px 10px 10px;
  color: gray;
}

.list-item .pro {
  //background-color: green;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 20px;
}

.list-item .pro-name {
  font-size: 25px;
  font-family: "HelveticaNeue-Light", sans-serif;
  padding: 10px;
  color: black;
  text-transform: capitalize;
}

.featured-list .list-item {
  background-color: #f0f2f5;
  margin: 20px;
  border-radius: 10px;
  transition: 1s ease-out;
  box-shadow: 10px 5px 5px #5271ff;
}

.featured-list .list-item:hover{
  background-color: #d7dade;
}

.how-it-works .heading {
  //background-color: yellow;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 50px;
  line-height: 2;
  font-weight: 500;
  text-align: left;
}

.how-it-works-main {
  background-color: #f0f2f5;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.how-it-works {
  //background-color: red;
  width: 1100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works .cards {
  margin-top: 30px;
  //background-color: blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  grid-auto-rows: 350px;
  //margin-right: 50px;
  //margin-left: 100px;
}

.text .cards-heading {
  font-size: 25px;
  //color: blue;
  font-weight: 600;
  //background-color: yellow;
}

.cards .one {
  //background-color: #f0f2f5;
  border-radius: 20px;
}

.cards .two {
  //background-color: #f0f2f5;
  border-radius: 20px;
  text-align: center;
}

.cards .three {
  //background-color: #f0f2f5;
  border-radius: 20px;
}

.one .search {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  //border-bottom: 2px solid black;
}

.two .calendar-landing-page {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  //background-color: orange;
  //border-bottom: 2px solid black;
}

.three .video {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  //background-color: orange;
  //border-bottom: 2px solid black;
}

.cards .text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  //font-size: 0.8vw;
  font-weight: 300;
  margin: 30px 50px 50px 50px;
  line-height: 1.25;
  border-top: 2px solid black;
  padding-top: 10px;
  text-align: center;
}

.content-panel-one {
  margin-top: 100px;
  padding-bottom: 70px;
  //background-color: yellow;
  width: 100%;
  height: 100%;
}

.content-panel-one-responsive {
  //background-color: red;
  width: 1100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.content-panel-one-text {
  float: left;
  width: 50%;
  align-items: center;
  font-family: "Roboto", sans-serif;
  //background-color: purple;
  margin-top: 10%;
}

.why-touchbase {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 2;
  //font-weight: 500;
  text-align: left;
}

.why-touchbase-header {
  font-size: 40px;
  line-height: 1.25;
  padding-bottom: 10px;
  font-weight: 600;

}

.why-touchbase-answer {
  font-size: 20px;
  line-height: 1.25;
}

.content-panel-one-image {
  float: right;
  width: 50%;
  height: 50%;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //background-color: blue;
  //position: relative;
  //text-align: center;
}

.why-touchbase-img1 {
  width: 80%;
  height: auto;
  //background-color: red;
  position: relative;
  left: 150px;
  border-radius: 100px;
}

.why-touchbase-img2 {
  //background-color: green;
  width: 60%;
  height: auto;
  position: relative;
  bottom: 60px;
  left: 30px;
}

.content-panel-two {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
}

.content-panel-two-responsive {
  //background-color: red;
  width: 1100px;
  //margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  //height: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-panel-two-text {
  //float: right;
  width: 40%;
  //align-items: center;
  font-family:"HelveticaNeue-Light", sans-serif;
  //background-color: purple;
  margin-top: 70px;
  //margin-left: 70px;
  margin-bottom: 50px;
}

.content-panel-two-image {
  //float: left;
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: blue;
  margin-bottom: 70px;
}

.types-of-touchbases {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 2;
  //font-weight: 500;
  //text-align: left;
}

.types-of-touchbases-header {
  font-size: 40px;
  line-height: 1.25;
  padding-bottom: 10px;
  font-weight: 600;
}

.types-of-touchbases-answers {
  font-size: 20px;
  line-height: 1.25;
}

.img2 {
  width: 100%;
  height: auto;
}

.join-as-influencer {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
  //background-color: #f0f2f5;
}

.join-as-influencer-content {
  background-color: #f0f2f5;
  width: 900px;
  //margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 5px 5px #5271ff;
}

.join-as-influencer-text {
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 25px;
  line-height: 2;
}

.join-as-influencer-button {
  background-color: white;
  color: black;
  font-size: 20px;
  //font-weight: 540;
  padding: 10px 20px;
  //border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
  border: 1px solid #f0f2f5;
  width: 200px;
  //grid-column-start: 1;
  margin-top: 30px
}

@keyframes slideInTop {
  from {
    transform: translate3d(0, 10%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


@media screen and (max-width: 1150px) {
  .landing-page-header {
    //background-color: red;
    height: auto;
  }

  .typewrite {
    font-size: 50px;
  }

  .landing-page-graphic {
    width: 100%;
  }

  .landing-page-featured-list {
    //background-color: yellow;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-page-featured-list .heading {
    //background-color: blue;
    font-family: "HelveticaNeue-Medium", sans-serif;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  .landing-page-featured-list .featured-list {
    //background-color: blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: auto;
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .how-it-works .heading {
    //background-color: yellow;
    font-family: "HelveticaNeue-Medium", sans-serif;
    font-size: 50px;
    line-height: 2;
    font-weight: 500;
    text-align: center;
  }

  .how-it-works-main {
    background-color: #f0f2f5;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .how-it-works {
    //background-color: red;
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .how-it-works .cards {
    margin-top: 30px;
    //background-color: blue;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
    //margin-right: 50px;
    //margin-left: 100px;
  }

  .cards .one {
    //background-color: #f0f2f5;
    //background-color: red;
    border-radius: 20px;
    grid-row-start: 1;
    display: flex;
  }

  .cards .two {
    //background-color: #f0f2f5;
    //background-color: green;
    border-radius: 20px;
    grid-row-start: 2;
    display: flex;
  }

  .cards .three {
    //background-color: #f0f2f5;
    border-radius: 20px;
    //background-color: purple;
    grid-row-start: 3;
    display: flex;
    margin-bottom: 30px;
  }

  .one .search {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    //border-bottom: 2px solid black;
  }

  .two .calendar {
    width: 100%;
    height: 100%;
    min-width: 80px;
    max-width: 80px;
    max-height: 80px;
    //background-color: orange;
    //margin-left: 35px;
    //margin: 0 auto;
    display: flex;
    margin-top: 20px;
    //border-bottom: 2px solid black;
  }

  .three .video {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    //background-color: orange;
    //border-bottom: 2px solid black;
  }

  .cards .text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    //font-size: 0.8vw;
    font-weight: 300;
    //margin: 30px 50px 50px 50px;
    line-height: 1.25;
    border-left: 2px solid black;
    border-top: 2px solid #f0f2f5;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    //width: 80%;
  }

  .content-panel-one {
    //margin-top: 100px;
    padding-bottom: 70px;
    //background-color: yellow;
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }

  .content-panel-one-responsive {
    //background-color: red;
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    //position: relative;
    //overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-panel-one-text {
    width: 80%;
    align-items: center;
    font-family: "Roboto", sans-serif;
    //background-color: purple;
  }

  .why-touchbase {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 2;
    text-align: center;
  }

  .why-touchbase-header {
    font-size: 40px;
    line-height: 1.25;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .why-touchbase-answer {
    font-size: 20px;
    line-height: 1.25;
  }

  .content-panel-one-image {
    width: 80%;
    height: 80%;
    //background-color: red;
    align-items: center;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why-touchbase-img1 {
    //width: 80%;
    //height: auto;
    //margin: 0 auto;
    //background-color: yellow;
    position: relative;
    left: 0;
    border-radius: 20px;
    margin-top: 30px;
  }

  .why-touchbase-img2 {
    display: none;
  }

  .content-panel-two {
    //padding-top: 70px;
    //padding-bottom: 70px;
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
    margin-top: 0px;
  }

  .content-panel-two-responsive {
    //background-color: red;
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    //height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-panel-two-text {
    //float: right;
    width: 90%;
    //align-items: center;
    font-family:"HelveticaNeue-Light", sans-serif;
    //background-color: purple;
    margin-top: 70px;
    //margin-left: 70px;
    margin-bottom: 50px;
  }

  .content-panel-two-image {
    //float: left;
    width: 100%;
    //height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: blue;
    margin-bottom: 70px;
  }

  .types-of-touchbases {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 1.25;
    //font-weight: 500;
    //text-align: left;
  }

  .types-of-touchbases-header {
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .types-of-touchbases-answers {
    font-size: 20px;
    line-height: 1.25;
  }

  .img2 {
    width: 100%;
    height: auto;
  }

  .join-as-influencer-content {
    background-color: #f0f2f5;
    width: 90%;
    //margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 5px 5px #5271ff;
  }

  .join-as-influencer-text {
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size: 25px;
    line-height: 1.4;
  }

  .join-as-influencer-button {
    background-color: white;
    color: black;
    font-size: 20px;
    //font-weight: 540;
    padding: 10px 20px;
    //border-radius: 12px;
    font-family: "HelveticaNeue-Light", sans-serif;
    border: 1px solid #f0f2f5;
    width: 200px;
    //grid-column-start: 1;
    margin-top: 30px
  }

}

@media screen and (max-width: 700px) {
  .landing-page-header {
    //background-color: blue;
    height: auto;
  }

  .landing-page-featured-list .featured-list {
    //background-color: blue;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    grid-auto-rows: auto;
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}
