.landingPage {
  //background-color: purple;
}

.landing-page-header {
  background-color: #5271ff;
  //display: grid;
  height: 850px;
  margin-bottom: 100px;
}

.typewrite {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  //background-color: purple;
  height: auto;
}

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  justify-content: flex-start;
  //background-color: red;
  line-height: 1.5;
  color: white;
}

.nav-button {
  text-align: center;
  margin-top: 20px;
}

.go-to-explore-button  {
  background-color: #9cc0e4;
  color: black;
  font-size: 20px;
  //font-weight: 540;
  padding: 10px 20px;
  //border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
  border: 1px solid #9cc0e4;
  width: 200px;
  //grid-column-start: 1;
}

.nav-right-side {
  text-align: center;
  margin-top: 20px;
}

.landing-page-featured-list {
  //background-color: red;
  margin-left: 10vw;
  margin-right: 10vw;
}

.landing-page-featured-list .heading {
  //background-color: yellow;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 50px;
  line-height: 2;
  font-weight: 500;
}

.landing-page-featured-list .featured-list {
  //background-color: blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-auto-rows: 200px;
}

.list-item .pro-category {
  padding: 0px 10px 10px 10px;
  color: gray;
}

.list-item .pro {
  background-color: green;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 20px;
}

.list-item .pro-name {
  font-size: 25px;
  font-family: "HelveticaNeue-Light", sans-serif;
  padding: 10px;
  color: black;
  text-transform: capitalize;
}

.featured-list .list-item {
  background-color: #f0f2f5;
  margin: 20px;
  border-radius: 20px;
  transition: 1s ease-out;
}

.featured-list .list-item:hover{
  background-color: #d7dade;
}

.how-it-works .heading {
  //background-color: yellow;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 50px;
  line-height: 2;
  font-weight: 500;
  text-align: left;
}

.how-it-works {
  //background-color: red;
  margin-top: 100px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.how-it-works .cards {
  margin-top: 30px;
  //background-color: blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 200px;
  grid-auto-rows: 300px;
  //margin-right: 50px;
  //margin-left: 100px;
}

.cards .one {
  background-color: #f0f2f5;
  border-radius: 20px;
}

.cards .two {
  background-color: #f0f2f5;
  border-radius: 20px;
  text-align: center;
}

.cards .three {
  background-color: #f0f2f5;
  border-radius: 20px;
}

.one .search {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 20px;
}

.two .calendar {
  width: 120px;
  height: 120px;
  //background-color: orange;
  margin: 0 auto;
  margin-top: 20px;
}

.three .video {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.cards .text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 30px 50px 50px 50px;
  line-height: 1.25;
}
/*.nav {
  //background-color: #5271ff;
  //background: url('../../images/LandingPage/icon4.jpg') no-repeat;
  background-size: cover;
  margin-top: 500px;
  margin-left: 100px;
  margin-right: 100px;
  height: 50vh;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(auto-fill, 5vh);
  flex-direction: center;
  align-items: center;
  justify-content: center;
  font-family: "HelveticaNeue-Medium";
  color: white;
  font-size: 70px;
  color: white;
  text-align: center;
  line-height: 1;
  background-color: yellow;
}

.nav-right-side {
  background-color: red;
  width: 1000px;
  height: 650px;
  //grid-column-start: 2;
  position: absolute;
  margin-right: 0;
  margin-left: 900px;
}

.nav-left-side {
  //background-color: orange;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //margin-top: 70px;
  text-align: center;
}

.landing-page-graphic {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.logo {
  width: 50%;
  height: auto;
}*/



.content-panel-one {
  margin-top: 100px;
  padding-bottom: 70px;
  //background-color: yellow;
  width: 100%;
  height: 100%;
}

.content-panel-one-responsive {
  //background-color: red;
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  overflow: hidden;
}

.content-panel-one-text {
  float: left;
  width: 50%;
  align-items: center;
  font-family: "HelveticaNeue-Light", sans-serif;
  //background-color: purple;
}

.why-touchbase {
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 50px;
  line-height: 2;
  font-weight: 500;
  text-align: left;
}

.why-touchbase-header {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 10px;
}

.why-touchbase-answer {
  font-size: 23px;
  line-height: 1.5;
}

.content-panel-one-image {
  float: right;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: blue;
}

.img1 {
  width: 100%;
  height: auto;
}

.content-panel-two {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;

}

.content-panel-two-responsive {
  //background-color: red;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content-panel-two-text {
  float: right;
  width: 50%;
  align-items: center;
  font-family:"HelveticaNeue-Light", sans-serif;
  //background-color: purple;
}

.content-panel-two-image {
  float: left;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: blue;
}

.types-of-touchbases {
  color: #5271ff;
  font-size: 20px;
  padding-bottom: 10px;
}

.types-of-touchbases-header {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 10px;
}

.types-of-touchbases-answers {
  font-size: 20px;
}

.img2 {
  width: 100%;
  height: auto;
}

.divider {
  padding-top: 550px;
  align-content: center;
  text-align: center;
  font-family: "HelveticaNeue-Light";
  font-size: 30px;
  padding-bottom: 100px;
  //background-color: gray;
}

.content-panel-three {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #E8E9ED;
  width: 100%;
  height: 100%;
}

.content-panel-three-image {
  float: right;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: blue;
}

.content-panel-three-text {
  float: left;
  width: 50%;
  align-items: center;
  font-family:"HelveticaNeue-Light", sans-serif;
  //background-color: purple;
}

.img3 {
  width: 50%;
  height: auto;
}

.content-panel-three-responsive {
  //background-color: red;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.all-categories {
  color: #5271ff;
  font-size: 20px;
  padding-bottom: 10px;
}

.all-categories-header {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 10px;
}

.all-categories-answer {
  font-size: 20px;
}

.content-panel-four {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #E8E9ED;
  width: 100%;
  height: 100%;
}

.content-panel-four-responsive {
  //background-color: red;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  //align-items: center;
  //justify-content: center;
  //flex-direction: row;
}

.how-it-works{
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 30px;
  color: black;
  //font-weight: bold;
  text-align: center;
}

.block-one {
  float: left;
  width: 33.33%;
  height: 33.33%;
  display: table-row;
  align-items: center;
  justify-content: center;
  //background-color: blue;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-one-text {
  font-size: 20px;
  font-family:"HelveticaNeue-Light", sans-serif;
  line-height: 1.25;
}

.block-three {
  float: right;
  width: 33.33%;
  height: 33.33%;
  display: table-row;
  align-items: center;
  justify-content: center;
  //background-color: purple;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-two-text {
  font-size: 20px;
  font-family:"HelveticaNeue-Light", sans-serif;
  line-height: 1.25;
}

.block-two {
  float: left;
  width: 33.33%;
  height: 33.33%;
  display: table-row;
  align-items: center;
  justify-content: center;
  //background-color: white;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-three-text {
  font-size: 20px;
  font-family:"HelveticaNeue-Light", sans-serif;
  line-height: 1.25;
}

.number_one {
  width: 15%;
  height: 15%;
}

.number_two {
  width: 15%;
  height: 15%;
}

.number_three {
  width: 15%;
  height: 15%;
}

.footer {
  padding-top: 550px;
  //background-color: purple;
}

.footer2 {
  background-color: gray;
  //padding-bottom: 300px;
  color: white;
  font-family: "Arial";
  font-size: 20px;
  height: 100px;
}
