.my-touchbase-content-ind {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  line-height: 3;
  //border-radius: 10px;
  //box-shadow: 3px 3px 3px #abb0b8;
  border-radius: 10px;
  margin: 0.5vh;
  font-size: 15px;
  //border-left: 1vw solid #5271ff;
  transition: 1s ease-out;
  text-align: left;
  //height: 15vh;
  color: black;
}

.my-touchbase-content-ind:hover {
  background-color: #d7dade;
  background-position: left;
}

.my-touchbase-content-ind > div {
  margin-left: 1vw;
}

.my-touchbase-content-ind-title {
  font-size: 20px;
  font-family: "HelveticaNeue-Medium", sans-serif;
  margin-top: 1vh;
}

.my-touchbase-content-ind-description {
  line-height: 1.5;
}


.my-touchbase-content-edit {
  color: black;
  background-color: white;
  font-size: 15px;
  padding: 6px 16px;
  //border-radius: 12px;
  border: 1px solid white;
  //box-shadow: 2px 2px 2px #abb0b8;
  font-family: "HelveticaNeue-Light", sans-serif;
  margin-right: .5vw;
  width: 80px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 10px;
}

.my-touchbase-content-delete {
  color: black;
  background-color: white;
  font-size: 15px;
  padding: 6px 16px;
  //border-radius: 12px;
  border: 1px solid white;
  //box-shadow: 2px 2px 2px #abb0b8;
  font-family: "HelveticaNeue-Light", sans-serif;
  margin-right: .5vw;
  width: 80px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 10px;
}

.my-touchbase-content-delete:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: 1s;
  font-weight: 600
}
