.your-touchbases-content {
  margin-left: 10%;
  //background-color: yellow;
}

.your-touchbases-header {
  //background-color: blue;
  margin-top: 3%;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 2%;
  margin-left: 1%;
}

.your-touchbases-grid {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw ;
  grid-template-rows: repeat(auto-fill, 10vh);
  justify-content: center;
  text-align: center;
  //background-color: green;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.25;
  height: 10vh;
}

.your-touchbases-grid > div {
  margin-right: 5%;
  margin-left: 5%;
}

.your-touchbases-oneonone {
  background-color: #bfddfa;
  display: grid;
  line-height: 10vh;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  //margin-top: 2vh;
  //margin-bottom: 2vh;
}

.your-touchbases-class {
  background-color: #f5c4c4;
  display: grid;
  line-height: 10vh;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.your-touchbases-breakout {
  background-color: #f9e790;
  display: grid;
  line-height: 10vh;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.add-touchbase-button {
  display:block;
  height: 3.5vh;
  width: 2vw;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  position: absolute;
  margin-top: 8vh;
  margin-left: 10.25vw;
  z-index: 0;
}
















.yourtouchbases-main {
  background-color: yellow;
}

.main-title {
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 30px;
  text-align: center;
  width: 100%;
  line-height: 2;
}

.all-touchbases-content {
  padding-top: 60px;
  float: right;
  width: 91%;
  //background-color: red;
  margin: 0 auto;
  overflow: hidden;
}

.touchbases-main {
  width: 75%;
  //background-color: blue;
  margin: 0 auto;
  //position: inherit;
  //overflow: hidden;
  border:2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.touchbases-icon {
  width: 50%;
  height: 50%;
}

.touchbases-header {
  //background-color: orange;
  height: 5vh;
}

.touchbases-header-image {
  float: left;
  //width: 10%;
  //padding-right: 10px;
}

.touchbases-header-text {
  float: left;
  //width: 80%;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 20px;
  padding-top: 10px;
}

.touchbases-add-button {
  text-align: center;
  padding-top: 20px;
}

.add-touchbases {
  color: white;
  background-color: #5271ff;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.individual-touchbases{
  text-align: center;
  font-size: 15px;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.date-picker {
  padding-bottom: 30px;
  text-align: center;
}

.from-time-picker {
  padding-bottom: 30px;
  text-align: center;
}

.to-time-picker {
  padding-bottom: 30px;
  text-align: center;
}

.max-participants {
  padding-bottom: 30px;
  text-align: center;
}

.cost {
  padding-bottom: 30px;
  text-align: center;
}

.headings {
  font-family: "HelveticaNeue-Light", sans-serif;
  padding: 30px;
  display: grid;
  grid-gap: 20px;
}

.touchbase-input {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  border-width: thin;
}

.form-buttoms {
  text-align: center;
}

.cancel-button {
  color: white;
  background-color: #5271ff;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
}

.save-button {
  color: white;
  background-color: #5271ff;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
}
