.your-touchbases-content {
  margin-left: 10%;
  //background-color: yellow;
}

.your-touchbases-header {
  //background-color: blue;
  margin-top: 3%;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 2%;
  margin-left: 5.5vw;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.your-touchbases-header .sub {
  font-size: 20px;
  font-family: "HelveticaNeue-Light", sans-serif;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.your-touchbases-grid {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw ;
  grid-template-rows: repeat(auto-fill, 15vh);
  grid-gap: 0.25vw;
  justify-content: center;
  text-align: center;
  //background-color: green;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.25;
  //height: 10vh;
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;

}

.your-touchbases-grid > div {
  margin-right: 5%;
  margin-left: 5%;
}

.your-touchbases-oneonone {
  background-color: #b4c0fa;
  display: grid;
  //background: linear-gradient(to right, #5271ff,  white);
  //background:linear-gradient(to right, #c4d7e6 0, #c4d7e6 33%, #66a5ad 33%, #66a5ad 66%, #ff0000 66%, #ff0000 100%);
  color: white;
  line-height: 5vh;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #abb0b8;
  
}

.after-header {
  margin-top: 5vh;
  //background-color: yellow;
}

.your-touchbases-class {
  background-color: #b4c0fa;
  //background: linear-gradient(45deg, #b4c0fa 5%, white 95%);
  //background: linear-gradient(to right, #5271ff,  white);
  display: grid;
  color: white;
  line-height: 5vh;
  //border-radius: 10px;
  box-shadow: 3px 3px 3px #abb0b8;
  border-radius: 10px;
}

.touchbase-type-info {
  font-size: 15px;
  line-height: 1;
}

.your-touchbases-breakout {
  background-color: #b4c0fa;
  //background: linear-gradient(to right, #5271ff,  white);
  display: grid;
  color: white;
  line-height: 5vh;
  //border-radius: 10px;
  box-shadow: 3px 3px 3px #abb0b8;
  border-radius: 10px;
}

.add-touchbase-button {
  width: 20%;
  border: 2px solid white;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 4vh;
}

.touchbases-popup {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

@keyframes slideInTop {
  from {
    transform: translate3d(0, 30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
