.your-touchbases-content {
  margin-left: 10%;
  //background-color: yellow;
  padding-bottom: 10vh;
}

.your-touchbases-header {
  //background-color: blue;
  margin-top: 3%;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 2%;
  margin-left: 5.5vw;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.add-touchbase-button {
  text-align: center;
  font-size: 1vw;
  font-weight: 200;
  margin-top: 3vh;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 3vw;
}

.add-new-touchbase-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-touchbases-header .sub {
  font-size: 20px;
  font-family: "HelveticaNeue-Light", sans-serif;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.your-touchbases-grid-content {
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.your-touchbases-one-on-one {
  //background-color: yellow;
  display: grid;
  grid-template-columns: 5vw 73vw;
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  //border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  //padding-bottom: 1vh;
  //border-bottom: 2px solid black;
}

.your-touchbases-class {
  //background-color: yellow;
  display: grid;
  grid-template-columns: 5vw 73vw;
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  //border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  //padding-bottom: 1vh;
  //border-bottom: 2px solid black;
}

.your-touchbases-breakout {
  display: grid;
  grid-template-columns: 5vw 73vw;
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  //border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  //padding-bottom: 1vh;
  //border-bottom: 2px solid black;
}

.ind-one-on-one {
  //grid-column-start: 2;
  //background-color: blue;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 1vw;
}

.ind-class {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 1vw;
}

.ind-breakout {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 1vw;
}

.one-on-one-heading {
  grid-column-start: 1;
  background-color: #4c98ed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

.class-heading {
  grid-column-start: 1;
  background-color: #ef7d7d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

.breakout-heading {
  grid-column-start: 1;
  background-color: #f4b959;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

@keyframes slideInTop {
  from {
    transform: translate3d(0, 10%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1100px) {
  .your-touchbases-content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .ind-one-on-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 1vw;
  }

  .ind-class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 1vw;
  }

  .ind-breakout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 1vw;
  }

  .your-touchbases-one-on-one {
    display: block;
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .your-touchbases-class {
    display: block;
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .your-touchbases-breakout {
    display: block;
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .one-on-one-heading {
    grid-column-start: 1;
    background-color: #4c98ed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    height: 100px;
  }

  .class-heading {
    grid-column-start: 1;
    background-color: #ef7d7d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    height: 100px;
  }

  .breakout-heading {
    grid-column-start: 1;
    background-color: #f4b959;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    height: 100px;
  }

  .add-touchbase-button {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 50px;
    height: 30px;
  }

}

@media screen and (max-width: 700px) {
  .your-touchbases-content {
    //background-color: blue;
  }

  .ind-one-on-one {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 20px;
  }

  .ind-class {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 20px;
  }

  .ind-breakout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 20px;
  }

}
