.ind-content {
  //display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  background-color: #E8E9ED;
  border-radius: 20px;
  display: grid;
  grid-template: 10vh / 30vw 10vw 10vw 10vw 10vw 15vw ;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 15px;
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ind-content > div {
  margin-right: 5%;
  margin-left: 5%;
}

.ind-join-button {
  color: white;
  background-color: #5271ff;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
  width: 50%;
  height: 3vh;
}

.ind-title {
  font-weight: 600;
  font-size: 20px;
}

@keyframes slideInTop {
  from {
    transform: translate3d(0, 30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
