.ind-content-past {
  //display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  background-color: #E8E9ED;
  border-radius: 20px;
  display: grid;
  grid-template: 10vh / 15vw 10vw 13vw 13vw 13vw 13vw ;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 15px;
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ind-content-past > div {
  margin-right: 5%;
  margin-left: 5%;
}

.ind-title-past {
  font-weight: 600;
  font-size: 20px;
}

.ind-meeting-past-heading {
  display: none
}

@keyframes slideInTop {
  from {
    transform: translate3d(0, 30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1100px) {
  .ind-content-past {
    //background-color: pink;
    display: block;
    width: auto;
    height: auto;
    padding: 20px;
  }
  .ind-content-past > div {
    padding-top: 10px;
  }

  .ind-meeting-past-heading {
    display: inline;
    font-weight: 600;
  }
}
