.individual-meeting {
  width: 75%;
  margin: 0 auto;
  //border:2px solid black;
  //border-radius: 10px;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.touchbase-type {
  float: left;
  width: 30%;
  //background-color: purple;
}

.touchbase-type-name {
  font-size: 20px;
  font-family: "HelveticaNeue-Light", sans-serif;
  line-height: 1.5;
}

.touchbase-icon {
  width: 50%;
  height: 50%;
}

.touchbase-info {
  float: left;
  width: 70%;
  //background-color: yellow;
  padding-bottom: 10px;
  padding-top: 10px;
}

.join-button {
  color: white;
  background-color: #5271ff;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Light", sans-serif;
}
