.ind-content-past {
  //display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  background-color: #E8E9ED;
  border-radius: 20px;
  display: grid;
  grid-template: 10vh / 33vw 13vw 13vw 13vw 13vw ;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 15px;
}

.ind-content-past > div {
  margin-right: 5%;
  margin-left: 5%;
}

.ind-title-past {
  font-weight: 600;
  font-size: 20px;
}
