.ind-meeting-content-upcoming {
  //background-color: red;
  margin-left: 11%;
  margin-right: 1%;
}

.meet-heading {
  margin-left: 13vw;
  margin-top: 3%;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 2%;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.meet-links {
  margin-left: 13vw;
  margin-bottom: 2%;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.meet-link {
  margin-right: 1%;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 20px;
  color: white;
  background-color: #a0a096;
  padding: 10px;
  border-radius: 10px;
}
.meet-link-active {
  margin-right: 1%;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 20px;
  color: white;
  background-color: #a0a096;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid black;
  color: black;
}

.meet-link:hover {
  border-bottom: 3px solid black;
  color: black;
}

.meet-link-active:hover {
  border-bottom: 3px solid black;
  color: black;
}

.ind-meet-content {
  //display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  //margin-bottom: 10px;
  //background-color: blue;
  border-radius: 20px;
  display: grid;
  grid-template: 5vh / 20vw 10vw 10vw 10vw 10vw 10vw 15vw ;
  margin-left: 12.5%;
  margin-right: 1%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a0a096;
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ind-meet-content > div {
  margin-right: 7%;
  margin-left: 7%;
}

.no-upcoming-meetings {
  text-align: center;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 20px;
  margin-top: 4vh;
}

@keyframes slideInTop {
  from {
    transform: translate3d(0, 30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
