.event-popup-box {
  position: fixed;
  background: #00000050;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  //background-color: red;
  margin-left: 5%;
  overflow: hidden;
}

.event-box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: 50vh;
  max-height: 70vh;
  margin-top: calc(100vh - 75vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  //padding: 70px;
  border: 1px solid #999;
  overflow: auto;
}

.event-close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(28% - 30px);
  top: calc(100vh - 73vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
